[
{% for host in groups['redis_exporter'] %}
{
    "targets": [
        "{{ hostvars[host].ansible_ssh_host }}:{{ item.exporter }}"
    ],
    "labels": {
        "instance": "{{ hostvars[host].ansible_ssh_host }}-{{ item.redis }}",
        "service": "redis"
    }
}
{% if not loop.last %},{% endif %}
{% endfor %}
]