#!/bin/bash

start() {
    nohup /usr/local/monitor/node_exporter/node_exporter >> /data/monitor/node_exporter/logs/node.log 2>&1 &
    echo $! > /usr/local/monitor/node_exporter/run.pid
}

stop() {
    cat /usr/local/monitor/node_exporter/run.pid | xargs kill -9
    rm -rf /usr/local/monitor/node_exporter/run.pid
}

if [ $# -eq 0 ] || [ $# -gt 1 ]; then
    echo "Please enter [start | stop | restart] as parameter."
else
    case $1 in
    "start" )
        start
        ;;
    "stop" )
        stop
        ;;
    * )
        echo "Please enter [start | stop | restart] as parameter."
        ;;
    esac
fi
