[Unit]
Description=mysqld_exporter
After=network.target

[Service]
Type=simple
PIDFile=/usr/local/monitor/mysqld_exporter/run.pid
ExecStart=/usr/local/monitor/mysqld_exporter/mysqld_exporter --config.my-cnf=/usr/local/monitor/mysqld_exporter/my.cnf --web.listen-address=0.0.0.0:{{ mysqld_exporter_port }} --log.level=debug
ExecStop=/bin/kill -HUP $MAINPID
Restart=Always
User=root
Group=root
LimitNOFILE=65535
LimitNPROC=65535

[Install]
WantedBy=multi-user.target