[Unit]
Description=Grafana
After=network.target

[Service]
Type=forking
PIDFile=/data/grafana/logs/run.pid
ExecStart=/usr/local/grafana/launcher.sh start
ExecStop=/usr/local/grafana/launcher.sh stop
Restart=Always
User=root
Group=root
LimitNOFILE=65535
LimitNPROC=65535

[Install]
WantedBy=multi-user.target
