[Unit]
Description=Prometheus
After=network.target

[Service]
Type=forking
PIDFile=/usr/local/prometheus/run.pid
ExecStart=/usr/local/prometheus/launcher.sh start
ExecStop=/usr/local/prometheus/launcher.sh stop
Restart=Always
User=root
Group=root
LimitNOFILE=65535
LimitNPROC=65535

[Install]
WantedBy=multi-user.target
