#!/bin/bash

start() {
    nohup /usr/local/prometheus/prometheus \
    --config.file=/usr/local/prometheus/prometheus.yml \
    --web.listen-address=:{{ prometheus_port }} \
    --web.enable-lifecycle --web.read-timeout=5m --web.max-connections=512 \
    --storage.tsdb.retention.time=60d \
    --storage.tsdb.path=/data/prometheus/data \
    --query.max-concurrency=20 \
    --query.timeout=2m >> /data/prometheus/logs/prometheus.log 2>&1 &
    echo $! > /usr/local/prometheus/run.pid
}

stop() {
    cat /usr/local/prometheus/run.pid | xargs kill -9
    rm -rf /usr/local/prometheus/run.pid
}

if [ $# -eq 0 ] || [ $# -gt 1 ]; then
    echo "Please enter [start | stop | restart] as parameter."
else
    case $1 in
    "start" )
        start
        ;;
    "stop" )
        stop
        ;;
    * )
        echo "Please enter [start | stop | restart] as parameter."
        ;;
    esac
fi
